<div class="content-container my-5 py-5 px-4">
  <div class="row">
    <div class="col-md-7">
      <%= image_tag(@product.image.url, alt: 'image', size: '600x700', class: 'mx-auto d-block layout-image') if @product.image? %>
    </div>
    <div class="col-md-5 layout-right pr-5 mr-0">
      <div class="prod-title">
        <h1 class="display-4 mx-auto"><%= @product.name %></h1>
      </div>
      <div class="price d-flex flex-column flex-sm-row align-items-sm-center mb-4 justify-content-sm-between">
        <ul class="list-inline mb-2 mb-sm-0">
          <li class="list-inline-item h4 mb-0">$<%= @product.price %></li>
        </ul>
      </div>
      <div class="prod-description">
        <p class="mx-auto d-block justify-text-center text-muted"><%= @product.description %></p>
      </div>

      <div class="prod-use py-3">
        <h4>Use for: </h4>
        <p class="mx0auto d-block justify-text-center text-muted py-2"><%= @product.uses %></p>
      </div>




      <div class="add-to-cart">
        <%= button_to 'Add to Cart', line_items_path(product_id: @product), class: 'btn btn-lg hvr-grow hvr-pulse btn-add-to-cart' %>
      </div>
    </div>

  <div class="edit-link">
    <%= link_to 'Edit Product', edit_product_path(@product), class: 'edit-link' %> | <%= link_to 'Delete Product', @product, method: :delete, data: {confirm: 'Are you sure you want to delete this product?'}, class: 'delete-product' %>
  </div>
  </div>
</div>
