<!DOCTYPE html>
<html>
  <head>
    <title>GencoStore</title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Olive Oil, Godfather, bootstrap 4 theme">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
  </head>

   <body data-spy="scroll" data-target="#navbarResponsive">

  <body>




    <%= render 'layouts/navigation' %>


    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>

    <%= render 'layouts/footer' %>



  <script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
  </body>
</html>
